{% extends 'base.html' %}
{% load static %}
{% block title %} About Page {% endblock %}
{% block header %}  Welcome to safari mid-class {% endblock %}
{% block content %}

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo laboriosam nostrum repellat rerum sequi! Ab adipisci eligendi eos molestiae nostrum quia soluta sunt vero, voluptatem! Commodi cupiditate ducimus incidunt laudantium.</span><span>Aperiam architecto atque cum doloribus fugiat itaque, laboriosam necessitatibus nisi qui soluta, totam, voluptas voluptate. Amet ea eos error esse illum nostrum, omnis ullam! Accusamus assumenda debitis reiciendis temporibus voluptatum.</span><span>Accusamus exercitationem quaerat quisquam vitae voluptates! Ea, odit, repudiandae! Aliquid, animi atque cum dignissimos, distinctio ducimus, earum eum hic itaque maiores natus nesciunt numquam quam quas quisquam sint totam vel.</span><span>Culpa dicta error ipsa labore libero nesciunt officiis quae quaerat quia saepe. Accusamus atque corporis dolore doloribus eligendi esse eveniet magni molestias natus, nisi perferendis perspiciatis repellendus sequi vero voluptatem!</span></p>
    <img src="{% static 'images/k1.jpeg' %}" alt="">
    <img src="{% static 'images/k2.jpeg' %}" alt="">
    <img src="{% static 'images/k3.jpeg' %}" alt="">
    <img src="{% static 'images/k4.jpeg' %}" alt="">
    <img src="{% static 'images/k5.jpeg' %}" alt="">

{% endblock %}